<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1F64BD79-8B0F-4EEF-B1A0-E149825BA3DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70964029-F8DB-4EDD-9959-D3B5A6D240F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</key>
		<array/>
		<key>70964029-F8DB-4EDD-9959-D3B5A6D240F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15EDAA81-568E-4604-A9F0-47DC89FD0017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A00117A5-B4DB-4D63-BF17-29F8D4320949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE0C0CBF-692C-4BF0-800F-5E9D594232A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70964029-F8DB-4EDD-9959-D3B5A6D240F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA357DC0-BC6A-424F-A958-200031641460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCD5B61C-8D00-4D8F-B554-C74F3180E01D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman Komarov</string>
	<key>description</key>
	<string>Fuzzy abbreviations and a lot of other features in a set of tools for writing CSS faster</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hayaku for Alfred 2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "System Events"
	keystroke (ASCII character 28)	keystroke (ASCII character 29)	keystroke (ASCII character 28) using {option down}	keystroke (ASCII character 29) using {option down, shift down}	keystroke "h" using {option down}
end</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BCD5B61C-8D00-4D8F-B554-C74F3180E01D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AE0C0CBF-692C-4BF0-800F-5E9D594232A9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># -*- coding: utf-8 -*-
from __future__ import print_function 
import re
import logging
import logging
logging.basicConfig(filename='example.log',level=logging.DEBUG)

try:
    # there was an error in dictionaries reading
    from hayaku.probe import extract

    # there is a sublime in templates, error on import
    from hayaku.templates import expand_value

    args = extract("{query}")

    if args:
        property = args['property-name']
        value = expand_value(args)

        overall = property + ": " + value + ";"
        print(overall, end="")
except Exception, e:
    logging.exception(e)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70964029-F8DB-4EDD-9959-D3B5A6D240F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DA357DC0-BC6A-424F-A958-200031641460</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15EDAA81-568E-4604-A9F0-47DC89FD0017</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hayaku</string>
				<key>text</key>
				<string>Expand Hayaku</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F64BD79-8B0F-4EEF-B1A0-E149825BA3DA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>if [ -d .git ]; then
  git pull &amp;&amp; git submodule update;
else
  git init &amp;&amp; git remote add origin git://github.com/hayaku/hayaku.alfredworkflow.git &amp;&amp; git pull -u origin master &amp;&amp; git submodule init &amp;&amp; git submodule update;
fi;
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hayaku update</string>
				<key>text</key>
				<string>Update or install Hayaku</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A00117A5-B4DB-4D63-BF17-29F8D4320949</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15EDAA81-568E-4604-A9F0-47DC89FD0017</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>1F64BD79-8B0F-4EEF-B1A0-E149825BA3DA</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>70964029-F8DB-4EDD-9959-D3B5A6D240F5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A00117A5-B4DB-4D63-BF17-29F8D4320949</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>AE0C0CBF-692C-4BF0-800F-5E9D594232A9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BCD5B61C-8D00-4D8F-B554-C74F3180E01D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DA357DC0-BC6A-424F-A958-200031641460</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hayakubundle.com/</string>
</dict>
</plist>
