<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</key>
		<array/>
		<key>A00117A5-B4DB-4D63-BF17-29F8D4320949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman Komarov</string>
	<key>description</key>
	<string>Fuzzy abbreviations and a lot of other features in a set of tools for writing CSS faster</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hayaku for Alfred 2</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>git init &amp;&amp; git remote add origin git://github.com/hayaku/hayaku.alfredworkflow.git &amp;&amp; git fetch --all &amp;&amp; git reset --hard origin/master &amp;&amp; git submodule init &amp;&amp; git submodule update;
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>installhayaku</string>
				<key>text</key>
				<string>Install Hayaku</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A00117A5-B4DB-4D63-BF17-29F8D4320949</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3B11C92C-E8DA-47AF-B07D-2FDD11786C22</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A00117A5-B4DB-4D63-BF17-29F8D4320949</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hayakubundle.com/</string>
</dict>
</plist>
